@model IEnumerable<UMS_Final_Project1.Models.ViewResult>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
     
        <th>Code</th>
        <th>Name/Title</th>
         <th>Grade</th>  

        
         
                <th></th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                           <td>@Html.DisplayFor(m => item.aCourse.Code)</td>
                        <td>@Html.DisplayFor(m => item.aCourse.Name)</td>
                          <td>@Html.DisplayFor(m=>item.aGradeLetter.GradeName)</td>
               
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>
            </tr>
        }

        </table>
