@model UMS_Final_Project1.Models.ResultEntry

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {

        $(".drop-stdRegNo").on('change', function () {
            var a = $('option:selected', $(this)).text();

            $.ajax({
                url: '@Url.Action("GetDropDownListSelectedData", "CourseEnroll")?id=' + a,
                type: 'GET',
                success: function (result) {
                    $('#Name').val(result.t1);
                    $('#Email').val(result.t2);
                    $('#Department').val(result.t3);
                }
            });
        });

    })
</script>  


<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ResultEntry</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.StudentRegistrationId, "StudentRegistrationId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                
                @Html.DropDownListFor(model => model.StudentRegistrationId,
                  (IEnumerable<SelectListItem>)ViewBag.StudentRegistrationId,
                  string.Empty, new { @class = "drop-stdRegNo" })
                @*@Html.DropDownList("StudentRegistrationId", String.Empty)*@
                @Html.ValidationMessageFor(model => model.StudentRegistrationId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Department)
                @Html.ValidationMessageFor(model => model.Department)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseId, "CourseId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CourseId", String.Empty)
                @Html.ValidationMessageFor(model => model.CourseId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GradeLetterId, "GradeLetterId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GradeLetterId", String.Empty)
                @Html.ValidationMessageFor(model => model.GradeLetterId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
